<div class="panel panel-green">
    <div class="panel-heading">

    </div>
    <div class="panel-body pal">
        <div class="form-body pal">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Reject Reason</label>
                        <textarea name="reason" id="name" ng-required="true" ng-model="reason" ng-minlength="5" class="form-control input-sm"></textarea>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="submit(selectedForm, reason)">Submit</a>
                <a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="close()">Close</a>
            </div>
        </div>
    </div>
</div>
