
<div class="panel panel-default" ng-controller="newRequest" ng-init="initialize()">
    <div class="panel-heading">

        <div class="row">
            <div class="col-xs-5 col-sm-5 col-md-5 text-center pull-left" style="background-color:#000000; color:#FFFFFF;">
                <h2>PAYMENT PROCESS REQUEST FORM (PPRF)</h2>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <img data-ng-src="data:image/png;base64,{{formDetails.PayingEntityLogo}}" height="95" width="150" />
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 pull-right">
                <table class="table table-bordered table-condensed">
                    <tbody>
                        <tr>
                            <td colspan="2" align="center" style="background-color:#000000; color: #FFFFFF">PPRF No.:</td>
                            <td colspan="2" align="center" style="background-color:#000000; color: #FFFFFF">
                                {{ formDetails.PprfNo }}
                                <!--{{formDetails.DocumentType + "/" + formDetails.PayingEntityCode + "/" + ("0"+(formDetails.Month)).slice(-2) + ("0"+formDetails.Year).slice(-2) + "/" + ("00000"+formDetails.PPRFNumber).slice(-6)}}-->
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" width="40%" style="background-color:#FFFFFF; color: #000000">PPRF Date:</td>
                            <td colspan="2" width="60%" style="background-color:#FFFFFF; color: #000000" align="center">{{formDetails.PprfDate | date : "dd-MMM-yy" }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="background-color:#FFFFFF; color: #000000">Pymt Due:</td>
                            <td colspan="2" style="background-color:#FFFFFF; color: #000000" align="center">{{formDetails.DueDate | date : "dd-MMM-yy" }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel-body pal">
        <div class="form-body pal">
            <div class="row">
                <div class="well col-md-12">
                    <div ng-if="isEdit" class="row ">
                        <div class="col-xs-2 col-sm-2 col-md-2 pull-right">
                            <select ng-if="isEdit" name="documentType" class="form-control input-sm" data-ng-model="request.DocumentType" data-ng-required="true"
                                    ng-change="request.BudgetValidFrom=''; request.BudgetValidTo=''; request.RestrictedPayeeOnly=''; request.Payee=''; request.PayeeBank=''; request.BudgetOrder=''; budgetOrderRetrictPayee=''; request.BudgetApprovedAmtDesc=''">

                                <option value="" selected disabled>{{formDetails.DocumentType}} </option>
                                <option value="PO">Purchase Order</option>
                                <option value="PF">PPRF</option>
                                <option value="BDG">Budget Order</option>
                                <option value="PFB">PRF (Budget Order)</option>
                            </select>
                        </div>
                        <div ng-if="isEdit" class="col-xs-2 col-sm-2 col-md-2 pull-right">
                            Document Type:
                        </div>
                    </div>
                    <br />
                    <div ng-if="isEdit" class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Paying Entity:</label>

                                <select ng-if="isEdit" name="payingEntity" class="form-control input-sm" data-ng-model="request.PayingEntity" data-ng-required="true"
                                        data-ng-options="payingEntity as payingEntity.Name for payingEntity in PayingEntities | orderBy:'Name'">
                                    <option value="" selected disabled>{{formDetails.PayingEntityName}}</option>
                                </select>
                            </div>
                        </div>
                        <div ng-if="isEdit" class="col-md-3">
                            <div class="form-group">
                                <label><strong>PPRF Date</strong></label>
                                <div class="input-icon right">
                                    <i class="fa fa-calendar"></i>
                                    <input id="pprfDate" type="text" placeholder="Select PPRF Date" class="form-control input-sm" ng-model="request.PPRFDate"
                                           uib-datepicker-popup="{{format}}"
                                           is-open="popup1.opened"
                                           datepicker-options="dateOptions"
                                           close-text="Close"
                                           ng-click="showDatePicker1()"
                                           alt-input-formats="altInputFormats"
                                           @*datepicker*@
                                           onkeydown="return false"
                                           data-ng-required="true"
                                           ng-change="setBudgetOrderList(request.PPRFDate)" />
                                </div>
                            </div>
                        </div>
                        <div ng-if="isEdit" class="col-md-3">
                            <div class="form-group">
                                <label><strong>Due Date</strong></label>
                                <div class="input-icon right">
                                    <i class="fa fa-calendar"></i>
                                    <input id="dueDate" type="text" placeholder="Due Date" class="form-control input-sm" ng-model="request.DueDate"
                                           uib-datepicker-popup="{{format}}"
                                           is-open="popup2.opened"
                                           datepicker-options="dueDateOptions"
                                           close-text="Close"
                                           ng-click="showDatePicker2()"
                                           alt-input-formats="altInputFormats"
                                           @*datepicker*@
                                           onkeydown="return false"
                                           data-ng-required="true" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div ng-if="!isEdit" class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-sm-offset-1">
                            Paying Entity:
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <strong ng-if="!isEdit">{{formDetails.PayingEntityName}}</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-sm-offset-1">
                            Status:
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <strong>{{formDetails.Status}}</strong>
                        </div>
                    </div>

                    <div ng-if="!isEdit" class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-sm-offset-1">
                            Country/Region:
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <strong>-</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-sm-offset-1">
                            Month/Year:
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <strong>{{months[formDetails.Month - 1] + "-" + formDetails.Year}}</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-if="isEdit" class="col-md-3">
                            <div class="form-group">
                                <label><strong>Month</strong></label>
                                <select name="Month" class="form-control input-sm" data-ng-model="request.Month" data-ng-required="true"
                                        data-ng-options="month.Value as month.Name for month in Months">
                                    <option value="" disabled>-- Select --</option>
                                </select>
                            </div>
                        </div>
                        <div ng-if="isEdit" class="col-md-3">
                            <div class="form-group">
                                <label><strong>Year</strong></label>
                                <select name="Year" class="form-control input-sm" ng-model="request.Year" ng-options="n for n in [] | range:yearRange.start:yearRange.end" data-ng-required="true">
                                    <option value="" disabled>-- Select --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!isEdit" class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-sm-offset-1">
                            Department:
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <strong ng-if="!isEdit">{{formDetails.DepartmentName}}</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-sm-offset-1">
                            Frequency Type:
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <strong ng-if="!isEdit">{{formDetails.FrequencyTypeName}}</strong>
                        </div>
                    </div>
                    <div ng-if="!isEdit" class="row">

                    </div>
                    <div ng-if="!isEdit" class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-sm-offset-1">
                            Payment Method:
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <strong ng-if="!isEdit">{{formDetails.PaymentMethodName}}</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-sm-offset-1">
                            Payee Account:
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <strong ng-if="!isEdit">{{formDetails.PayeeName}}</strong>
                        </div>
                    </div>

                    <div ng-if="!isEdit" class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-sm-offset-1">
                            Nature of Expense:
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <strong ng-if="!isEdit">{{formDetails.ExpenseTypeName}}</strong>
                        </div>
                    </div>
                    <div ng-if="isEdit" class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Department</label>
                                <select ng-if="isEdit" name="Department" class="form-control input-sm" data-ng-model="request.Department" data-ng-required="true"
                                        ng-disabled="Departments.length==0"
                                        data-ng-options="department as department.Name for department in Departments | orderBy:'Name'">
                                    <option value="" disabled>{{formDetails.DepartmentName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Payee: </label>
                                <strong ng-if="!isEdit">{{formDetails.Payee.Name}}</strong>
                                <select ng-if="isEdit" name="Payee" class="form-control input-sm"
                                        data-ng-model="request.Payee"
                                        data-ng-required="request.RestrictedPayeeOnly=='Y' || request.RestrictedPayeeOnly==''"
                                        ng-disabled="(request.RestrictedPayeeOnly=='N' && request.DocumentType=='BDG') || budgetOrderRetrictPayee=='Y'"
                                        data-ng-options="payee as payee.Name for payee in Payees | orderBy:'Name'">
                                    <option value="" disabled>{{formDetails.Payee.Name}}</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div ng-if="isEdit" class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Departments Account</strong></label>
                                <select ng-if="isEdit" name="DepartmentsAccount" class="form-control input-sm" data-ng-model="request.DepartmentsAccount"
                                        data-ng-required="true"
                                        ng-disabled="DepartmentsAccounts.length==0"
                                        data-ng-options="DepartmentsAccount as DepartmentsAccount.Name for DepartmentsAccount in DepartmentsAccounts | orderBy:'Name'">
                                    <option value="">{{formDetails.DepartmentsAccountName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">

                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <br />

                            </div>
                        </div>
                    </div>
                    <div ng-if="isEdit" class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Frequency Type:  </label>

                                <select ng-if="isEdit" name="FrequencyType" class="form-control input-sm" data-ng-model="request.FrequencyType" data-ng-required="true"
                                        data-ng-options="frequencyType as frequencyType.Name for frequencyType in FrequencyTypes | orderBy:'Name'">
                                    <option value="" disabled>{{formDetails.FrequencyTypeName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Payment Method:  </label>

                                <select ng-if="isEdit" name="PaymentMethod" class="form-control input-sm" data-ng-model="request.PaymentMethod"
                                        data-ng-required="true"
                                        data-ng-options="paymentMethod as paymentMethod.Name for paymentMethod in PaymentMethods | orderBy:'Name'">
                                    <option value="" disabled>{{formDetails.PaymentMethodName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Payee Account:  </label>

                                <select ng-if="isEdit" name="PayeeAccount" class="form-control input-sm" data-ng-model="request.PayeeBank"
                                        data-ng-required="request.RestrictedPayeeOnly=='Y' || request.RestrictedPayeeOnly==''"
                                        ng-disabled="PayeeAccounts.length==0"
                                        data-ng-options="payeeAccount as payeeAccount.AccountName for payeeAccount in PayeeAccounts | orderBy:'AccountName'">
                                    <option value="" disabled>{{formDetails.PayeeName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <br />
                                <!--<a class="btn btn-primary btn-sm bottom" ng-click="payeeBankDetailsDialog(request.Payee)">Add</a>-->
                            </div>
                        </div>
                    </div>
                    <div ng-if="isEdit" class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nature of Expense</label>


                                <select ng-if="isEdit" name="ExpenseType" class="form-control input-sm" data-ng-model="request.ExpenseType" data-ng-required="true"
                                        data-ng-options="expenseType as expenseType.Name for expenseType in ExpenseTypes | orderBy:'Name'">
                                    <option value="" disabled>{{formDetails.ExpenseTypeName}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">

                            </div>
                        </div>
                    </div>



                    <div ng-if="isEdit" class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                            Description:
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <textarea rows="2" ng-if="isEdit" placeholder="Description" class="form-control input-sm" ng-model="formDetails.Description"></textarea>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-sm-offset-1">
                            Remarks:
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <textarea rows="2" ng-if="isEdit" placeholder="Remarks" class="form-control input-sm" ng-model="formDetails.Remarks"></textarea>
                        </div>
                    </div>

                    <br />
                    <div ng-if="!isEdit" class="row">
                        <table class="table table-condensed table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-right" width="4%">#</th>
                                    <th width="45%">Particulars of Purchase(s) of Goods or Service(s)</th>
                                    <th width="10%">Tax Type</th>
                                    <th class="text-right" width="10%">Qty.</th>
                                    <th class="text-right" width="13%" ng-if="!isEdit">Amount {{"(in " + formDetails.CurrencyType.Code + ")"}}</th>
                                    <!--<th class="text-right" width="13%" ng-if="!isEdit">
                        <select name="CurrencyType"  class="form-control input-sm" data-ng-model="request.CurrencyType" data-ng-required="true"
                                data-ng-options="currencyType as currencyType.Name for currencyType in CurrencyTypes | orderBy:'Name'" data-ng-change="currencyChanged();">
                            <option value="" selected disabled>-- Select --</option>
                        </select>
                    </th>-->

                                    <th class="text-right" width="9%">
                                        USD Amount <br>
                                        ({{'@ ' + (formDetails.USDExRate | number : 5)}})
                                    </th>
                                    <th class="text-right" width="9%">
                                        Euro Amount<br>
                                        ({{'@ ' + (formDetails.EuroExRate | number : 5)}})
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="service in formDetails.GoodsAndServices">
                                    <td align="right">{{$index + 1}}.</td>

                                    <td>  <small ng-if="!isEdit">{{service.Description}}</small> <textarea rows="1" ng-if="isEdit" placeholder="Description" class="form-control input-sm" ng-model="service.Description"></textarea></td>
                                    <td ng-if="!isEdit">{{service.TaxType.Name}}</td>

                                    <td align="right">{{service.Quantity}}</td>
                                    <td align="right">{{service.Amount | currency : "" : 2}}</td>
                                    <td align="right">{{service.AmountUSD | currency : "" : 2}}</td>
                                    <td align="right">{{service.AmountEuro | currency : "" : 2}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2" rowspan="4">
                                        <h5><b>Description:</b></h5>
                                        <p>
                                            <small ng-if="!isEdit">{{formDetails.Description}}</small>

                                        </p>
                                        <h5><b>Remarks:</b></h5>
                                        <p>
                                            <small ng-if="!isEdit"> {{formDetails.Remarks}}</small>

                                        </p>
                                    </td>
                                    <td></td>
                                    <td><strong>Sub-Total</strong></td>
                                    <td align="right">{{formDetails.SubTotal | currency : "" : 2}}</td>
                                    <td align="right">{{formDetails.SubTotalUSD | currency : "" : 2}}</td>
                                    <td align="right">{{formDetails.SubTotalEuro | currency : "" : 2}}</td>
                                </tr>
                                <tr>
                                    <!--<td colspan="3"></td>-->
                                    <td>{{formDetails.TaxType2.Name}}</td>
                                    <td><strong>Tax Amount 1</strong></td>
                                    <td align="right">{{formDetails.TaxAmount1 | currency : "" : 2}}</td>
                                    <td align="right">{{formDetails.TaxAmount1USD | currency : "" : 2}}</td>
                                    <td align="right">{{formDetails.TaxAmount1Euro | currency : "" : 2}}</td>
                                </tr>
                                <tr>
                                    <!--<td colspan="2"></td>-->
                                    <td>{{formDetails.TaxType2Name}}</td>
                                    <td><strong>Tax Amount 2</strong></td>
                                    <td align="right">{{formDetails.TaxAmount2 | currency : "" : 2}}</td>
                                    <td align="right">{{formDetails.TaxAmount2USD | currency : "" : 2}}</td>
                                    <td align="right">{{formDetails.TaxAmount2Euro | currency : "" : 2}}</td>
                                </tr>
                                <tr>
                                    <!--<td colspan="2"></td>-->
                                    <td>{{formDetails.TaxType3Name}}</td>
                                    <td><strong>Tax Amount 2</strong></td>
                                    <td align="right">{{formDetails.TaxAmount3 | currency : "" : 2}}</td>
                                    <td align="right">{{formDetails.TaxAmount3USD | currency : "" : 2}}</td>
                                    <td align="right">{{formDetails.TaxAmount3Euro | currency : "" : 2}}</td>
                                </tr>
                                <tr>
                                    <td colspan="3"></td>
                                    <td><strong>Total</strong></td>
                                    <td align="right">{{formDetails.Total | currency : "" : 2}}</td>
                                    <td align="right">{{formDetails.TotalUSD | currency : "" : 2}}</td>
                                    <td align="right">{{formDetails.TotalEuro | currency : "" : 2}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div ng-if="isEdit" class="panel-heading">
                        <div class="row">
                            <div class="col-md-2 text-left">
                                Goods And Services
                            </div>
                            <div class="col-md-2 text-left">
                                <select name="CurrencyType" class="form-control input-sm" data-ng-model="request.CurrencyType" data-ng-required="true"
                                        data-ng-options="currencyType as currencyType.Name for currencyType in CurrencyTypes | orderBy:'Name'" data-ng-change="currencyChanged();">
                                    <option value="" selected disabled>{{formDetails.CurrencyType.Name}}</option>
                                </select>
                            </div>
                            <div class="col-md-3 text-left">
                                <div class="col-md-6">USD Ex-Rate: </div>
                                <div class="col-md-6">
                                    <input class="form-control input-sm" ng-model="editValueUSD" ng-disabled="!currencyEditable" mm-currency mm-precision="5" data-ng-change="dataChanged()" />
                                </div>
                            </div>
                            <div class="col-md-3 text-left">
                                <div class="col-md-6">EUR Ex-Rate: </div>
                                <div class="col-md-6">
                                    <input class="form-control input-sm" ng-model="editValueEuro" ng-disabled="!currencyEditable" mm-currency mm-precision="5" data-ng-change="dataChanged()" />
                                </div>
                            </div>
                            <div class="col-md-1 text-left">
                                <a href="javascript:void(0)" ng-click="editCurrency(true)" data-ng-if="!currencyEditable" class="btn btn-sm btn-warning" style="color:#FFFFFF">Edit Values</a>
                                <a href="javascript:void(0)" ng-click="editCurrency(false)" data-ng-if="currencyEditable" class="btn btn-sm btn-success" style="color:#FFFFFF">Use Original</a>
                            </div>
                            <div class="col-md-1 text-right pull-right">
                                <a class="btn btn-primary btn-sm" ng-click="addService1()">Add</a>
                            </div>
                        </div>
                    </div>

                    <div ng-if="isEdit" class="panel-body pan">
                        <div class="form-body pal">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-right" width="5%">#</th>
                                        <th width="40%">Particulars of Purchase(s)</th>
                                        <th class="text-left" width="10%">Tax Type</th>
                                        <th class="text-right" width="10%">Quantity</th>
                                        <th class="text-right" width="10%">Amount</th>
                                        <th class="text-right" width="10%">Amount (USD)</th>
                                        <th class="text-right" width="10%">Amount (Euro)</th>
                                        <th class="text-left" width="5%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="service in formDetails.GoodsAndServices">
                                        <td class="text-right">{{$index + 1}}.</td>
                                        <!--<td ng-repeat="service1 in formDetails.GoodsAndServices">
                            <textarea rows="1" ng-if="isEdit"  value="{{service1.Description}}" class="form-control input-sm" data-ng-required="true" ng-model="request.Descriptioni"></textarea>
                        </td>-->
                                        <td><input name="Description" value="{{service.Description}}" type="text" class="form-control input-sm" data-ng-model="service.Description" data-ng-required="true" /></td>
                                        <td>
                                            <select class="form-control input-sm" data-ng-model="service.TaxType"
                                                    data-ng-options="taxType as taxType.Name for taxType in TaxTypes" data-ng-change="dataChanged()">
                                                <option value="">{{service.TaxType.Name}}</option>
                                            </select>
                                        </td>
                                        <td><input placeholder="{{service.Quantity}}" name="Quantity" type="text" class="form-control input-sm text-right" data-ng-model="service.Quantity" data-ng-required="true" /></td>
                                        <td style="display:none"><input name="Amount" type="text" value="{{service.Amount}}" class="form-control input-sm" data-ng-model="service.Amount" ng-change="EditdataChanged()" mm-currency data-ng-required="true" /></td>
                                        <td><input name="Amount" type="text" value="{{service.Amount}}" class="form-control input-sm" data-ng-model="service.AmountDisp" ng-change="EditdataChanged()" mm-currency data-ng-required="true" /></td>
                                        <td><input type="text" placeholder="{{service.AmountUSD}}" class="form-control input-xs text-right" disabled data-ng-model="service.AmountUSDDisp" /></td>
                                        <td><input type="text" placeholder="{{service.AmountEuro}}" class="form-control input-sm text-right" disabled data-ng-model="service.AmountEuroDisp" /></td>
                                        <td><a href="javascript:void(0)" class="btn btn-danger btn-sm" data-ng-click="removeService1(service)"><i class="fa fa-remove"></i></a></td>
                                    </tr>
                                </tbody>
                                <tfoot data-ng-if="request.GoodsAndServices.length>0">
                                    <tr>
                                        <td colspan="3"></td>
                                        <td>Sub-Total</td>
                                        <td><input type="text" placeholder="{{formDetails.SubTotal }}" class="form-control input-sm text-right" disabled data-ng-model="request.SubTotal" /></td>
                                        <td><input type="text" placeholder="{{formDetails.SubTotalUSD }}" class="form-control input-sm text-right" disabled data-ng-model="request.SubTotalUSD" /></td>
                                        <td><input type="text" placeholder="{{formDetails.SubTotalEuro }}" class="form-control input-sm text-right" disabled data-ng-model="request.SubTotalEuro" /></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"></td>
                                        <td>Tax Amount 1</td>
                                        <td><input type="text" value="{{formDetails.TaxAmount1 }}" class="form-control input-sm text-right" disabled data-ng-model="request.TaxAmount" data-ng-change="dataChanged()" /></td>
                                        <td><input type="text" placeholder="{{formDetails.TaxAmount1Euro }}" class="form-control input-sm text-right" disabled data-ng-model="request.TaxAmountUSD" /></td>
                                        <td><input type="text" placeholder="{{formDetails.TaxAmount1USD }}" class="form-control input-sm text-right" disabled data-ng-model="request.TaxAmountEuro" /></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td>
                                            <select class="form-control input-sm" data-ng-model="request.TaxType2"
                                                    data-ng-options="taxType as taxType.Name for taxType in TaxTypes">
                                                <option value="">{{formDetails.TaxType2Name}}</option>
                                            </select>
                                        </td>
                                        <td>Tax Amount 2</td>
                                        <td><input type="text" value="{{formDetails.TaxAmount2 }}" class="form-control input-sm" data-ng-model="request.TaxAmount2Disp" mm-currency data-ng-change="dataChanged()" /></td>
                                        <td><input type="text" placeholder="{{formDetails.TaxAmount2Euro }}" class="form-control input-sm text-right" disabled data-ng-model="request.TaxAmount2USD" /></td>
                                        <td><input type="text" placeholder="{{formDetails.TaxAmount2USD }}" class="form-control input-sm text-right" disabled data-ng-model="request.TaxAmount2Euro" /></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td>
                                            <select class="form-control input-sm" data-ng-model="request.TaxType3"
                                                    data-ng-options="taxType as taxType.Name for taxType in TaxTypes">
                                                <option value="">{{formDetails.TaxType3Name}}</option>
                                            </select>
                                        </td>
                                        <td>Tax Amount 3</td>
                                        <td><input type="text" value="{{formDetails.TaxAmount3 }}" class="form-control input-sm" data-ng-model="request.TaxAmount3Disp" mm-currency data-ng-change="dataChanged()" /></td>
                                        <td><input type="text" placeholder="{{formDetails.TaxAmount3Euro }}" class="form-control input-sm text-right" disabled data-ng-model="request.TaxAmount3USD" /></td>
                                        <td><input type="text" placeholder="{{formDetails.TaxAmount3USD }}" class="form-control input-sm text-right" disabled data-ng-model="request.TaxAmount3Euro" /></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"></td>
                                        <td>Total</td>
                                        <td><input type="text" placeholder="{{formDetails.Total }}" disabled style="background-color:aquamarine !important; font-weight:bold" class="form-control input-sm" data-ng-model="request.Total" mm-currency /></td>
                                        <td><input type="text" placeholder="{{formDetails.TotalUSD }}" class="form-control input-sm text-right" disabled data-ng-model="request.TotalUSD" /></td>
                                        <td><input type="text" placeholder="{{formDetails.TotalEuro }}" class="form-control input-sm text-right" disabled data-ng-model="request.TotalEuro" /></td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                                <tfoot>
                                    <tr data-ng-if="request.GoodsAndServices.length==0">
                                        <td colspan="8" align="center">No service(s) added.</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>


                    <div class="row">
                        <div class="row" ng-if="formDetails.PaymentRequestDocuments && formDetails.PaymentRequestDocuments.length">
                            <div class="box col-md-12 col-sm-12 col-xs-12">
                                <div class="box-content">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-condensed table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th colspan="3">Attachment</th>
                                                    </tr>
                                                    <tr>
                                                        <th width="6%">#</th>
                                                        <th width="42%">Name</th>
                                                        <th width="42%"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="document in formDetails.PaymentRequestDocuments">
                                                        <td>{{$index + 1 + '.'}}</td>
                                                        <td>{{document.DocumentName}}</td>
                                                        <td>
                                                            <a href="/Pprf/GetDocumentByDocId/?docID={{document.Id}}"><strong>{{document.DocumentName}}</strong></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="row" ng-if="isEdit">
                        <div class="panel-body pan">
                            Supporting Documents
                            <div class="form-body pal">
                                <div class="box-content">
                                    <span style="color:#000; background-color:yellow">Click</span>
                                    <a id="maskUpload"
                                       name="files"
                                       href="javascript:void(0);"
                                       ngf-select
                                       ngf-multiple="true"
                                       ngf-max-files="5"
                                       ngf-change="validate($files)"
                                       ngf-model-invalid="invalidFiles"
                                       ngf-ignore-invalid="maxFiles"
                                       ngf-pattern="'image/*,application/pdf,.xls,.xlsx,.doc,.docx,.msg'"
                                       ngf-accept="'image/*,application/pdf,.xls,.xlsx,.doc,.docx,.msg'"
                                       style="color:#00f;"> here </a>
                                    <span style="color:#000; background-color:yellow">to attach documents</span>
                                    <table class="table table-condensed table-striped">
                                        <thead>
                                            <tr>
                                                <th>Attachment Name</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in request.FileAttachmentsDetails">
                                                <td>{{item.Name}}</td>
                                                <td>
                                                    <a href="javascript:void(0)" class="btn btn-danger btn-xs" ng-click="removeFile(item)">
                                                        <i class="glyphicon glyphicon-remove"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <span ng-show="myform.files.$error.maxFiles">* Maximum 2 documents allowed</span>
                                    <span ng-show="myform.files.$error.pattern">* Allowed file types are "images/*, .pdf, .doc, .docx, .xls, .xlsx, .msg"</span>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <table class="table table-condensed table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th colspan="8">
                                        Approval Process
                                        <a ng-if="isEdit" href="javascript:void(0);" class="btn btn-sm btn-primary pull-right" ng-click="addApprover1()"><i class="fa fa-plus"></i> Add</a>
                                    </th>
                                </tr>
                                <tr>
                                    <th align="right">#</th>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Department</th>
                                    <th>Approval Status</th>
                                    <th>Response Date</th>
                                    <th>Remarks</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="!isEdit">
                                    <td><strong>{{formDetails.Originator.OriginatorType}}</strong></td>
                                    <td>{{formDetails.Originator.OriginatorName}}</td>
                                    <td>{{formDetails.Originator.OriginatorDesignation}}</td>
                                    <td>{{formDetails.Originator.OriginatorDepartmentName}}</td>
                                    <td>{{formDetails.Originator.OriginatorStatus}}</td>
                                    <td>{{formDetails.Originator.ResponseDate | date: "dd-MMM-yyyy"}}</td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr ng-if="isEdit">
                                    <td><strong>{{formDetails.Originator.OriginatorType}}</strong></td>
                                    <td>
                                        <select name="Originator" class="form-control input-sm" data-ng-options="operator as operator.UserName for operator in Operators | groupFilter:this:'Originator' | orderBy:'UserName'"
                                                data-ng-model="request.Originator" data-ng-required="true">
                                            <option value="">{{formDetails.Originator.OriginatorName}}</option>
                                        </select>
                                    </td>
                                    <td ng-if="isEdit">{{request.Originator.Designation}}</td>
                                    <td ng-if="isEdit">{{request.Originator.DepartmentName}}</td>
                                    <td ng-if="!isEdit">{{formDetails.Originator.Designation}}</td>
                                    <td ng-if="!isEdit">{{formDetails.Originator.DepartmentName}}</td>
                                    <td>{{formDetails.Originator.OriginatorStatus}}</td>
                                    <td>{{formDetails.Originator.ResponseDate | date: "dd-MMM-yyyy"}}</td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr data-ng-repeat="approval in formDetails.Approvals track by $index" ng-if="!isEdit">
                                    <td><strong>{{approval.ApproverType}}</strong></td>
                                    <td>{{approval.ApproverName}}</td>
                                    <td>{{approval.ApproverDesignation}}</td>
                                    <td>{{approval.ApproverDepartmentName}}</td>
                                    <td>{{approval.ApprovalStatus}}</td>
                                    <td>{{approval.ApprovalStatus=="Pending"?"-":approval.ResponseDate | date : "dd-MMM-yyyy"}}</td>
                                    <td>{{approval.Remarks}}</td>
                                    <td></td>
                                </tr>
                                <tr data-ng-repeat="approval in editApprovals track by $index" ng-if="isEdit">
                                    <td><strong>{{ "Approver " + ($index + 1) }}</strong></td>
                                    <td ng-if="approval.ApprovalStatus=='Approved'">{{approval.UserName}}</td>
                                    <td ng-if="approval.ApprovalStatus!='Approved'">
                                        <select name="Approver" class="form-control input-sm"
                                                data-ng-options="operator as operator.UserName for operator in Operators | groupFilter:this:'Approver '+($index + 1) | orderBy:'UserName'"
                                                data-ng-model="operator" data-ng-required="true" ng-change="approverSelected1(operator, $index)">
                                            <option value="">{{approval.UserName}}</option>
                                        </select>
                                    </td>
                                    <td>{{approval.Designation}}</td>
                                    <td>{{approval.DepartmentName}}</td>
                                    <td>{{approval.ApprovalStatus}}</td>
                                    <td>{{approval.ApprovalStatus=="Pending"?"-":approval.ResponseDate | date : "dd-MMM-yy"}}</td>
                                    <td></td>
                                    <td><a href="javascript:void(0)" class="btn btn-xs btn-danger" ng-if="approval.ApprovalStatus=='Pending'" ng-click="removeApprover()"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                    <div ng-if="!isEdit" class="panel panel-grey">
                        <div class="panel-heading">
                            Payee Bank Details
                        </div>
                        <div class="panel-body pal">
                            <div class="form-body pal">
                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2">Bank Name:</div>
                                    <div class="col-xs-4 col-sm-4 col-md-4">{{formDetails.PayeeBankDetails.BankName}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2">Account Name:</div>
                                    <div class="col-xs-4 col-sm-4 col-md-4">{{formDetails.PayeeBankDetails.AccountName}}</div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2">Bank Address:</div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">{{formDetails.PayeeBankDetails.BankAddress}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2">Account Number:</div>
                                    <div class="col-xs-4 col-sm-4 col-md-4">{{formDetails.PayeeBankDetails.AccountNumber}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2">Type of Account:</div>
                                    <div class="col-xs-4 col-sm-4 col-md-4">{{formDetails.PayeeBankDetails.AccountType}}</div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2">IBAN Number:</div>
                                    <div class="col-xs-4 col-sm-4 col-md-4">{{formDetails.PayeeBankDetails.IBAN}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2">Swift Code:</div>
                                    <div class="col-xs-4 col-sm-4 col-md-4">{{formDetails.PayeeBankDetails.Swift}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2">Sort/IFSC Code:</div>
                                    <div class="col-xs-4 col-sm-4 col-md-4">{{formDetails.PayeeBankDetails.IFSC}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <a class="btn btn-sm btn-danger" ng-if="formDetails.Status!='Closed'" ng-click="cancelRequestsDialog(formDetails)"><i class="fa fa-trash-o"></i> Cancel PPRF</a>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 text-right">
                    <input ng-if="isEdit" type="submit" value="update & Request" class="btn btn-sm btn-primary" ng-click="DraftCreateRequest(request,formDetails,editValueEuro,editValueUSD)" />
                    <a class="btn btn-sm btn-primary" ng-if="formDetails.Status=='Draft' && !isEdit" ng-click="edit(formDetails.RequestId)"><i class="fa fa-edit"></i> Edit</a>
                    <a class="btn btn-sm btn-primary" ng-if="isEdit" ng-click="updateRequest()"><i class="fa fa-save"></i> Update Approver</a>
                    <a class="btn btn-sm btn-primary" ng-if="isEdit" ng-click="cancel()">Cancel</a>
                    <a class="btn btn-sm btn-primary" ng-click="printRequest(formDetails.RequestId)"><i class="fa fa-print"></i> Print</a>
                    <a class="btn btn-sm btn-primary" ng-click="close()"><i class="fa fa-close"></i> Close</a>
                </div>
            </div>
        </div>
    </div>
</div>