<div class="panel panel-green">
    <div class="panel-heading">

    </div>
    <div class="panel-body pal">
        <div class="form-body pal">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Name" class="control-label">
                            Name
                        </label>
                        <div class="input-icon right">
                            <i class="fa fa-money"></i>
                            <input id="Name" type="text" placeholder="" class="form-control input-sm" data-ng-model="editExpenseType.Name" />
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="Description" class="control-label">
                            Description
                        </label>
                        <div class="input-icon right">
                            <i class="fa fa-info"></i>
                            <input id="Description" type="text" placeholder="" class="form-control input-sm col-md-8" data-ng-model="editExpenseType.Description" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-8 col-md-4">
                    <div class="form-group pull-right">
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="update(editExpenseType)">Update</a>
                        <a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="close()">Close</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
