<div class="panel panel-green">
    <div class="panel-heading">

    </div>
    <div class="panel-body pal">
        <div class="form-body pal">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Name" class="control-label">
                            Name
                        </label>
                        <div class="input-icon right">
                            <i class="fa fa-flag"></i>
                            <input id="Name" type="text" placeholder="" class="form-control" data-ng-model="newCountry.Name" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Code" class="control-label">
                            Code
                        </label>
                        <div class="input-icon right">
                            <i class="fa fa-flag"></i>
                            <input id="Code" type="text" placeholder="" class="form-control" data-ng-model="newCountry.Code" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    <div class="form-group">
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="create(newCountry)">Create</a>
                        <a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="close()">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>