<div class="panel panel-green">
    <div class="panel-heading">
    </div>
    <div class="panel-body pal">
        <div class="form-body pal">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Name" class="control-label">
                            Description
                        </label>
                        <div class="input-icon right">
                            <i class="fa fa-flag"></i>
                            <input id="Name" type="text" placeholder="" class="form-control" data-ng-model="editEditRejectTypes.Description" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Id" style="display:none" class="control-label">
                        Department Id
                    </label>
                    <div style="display:none" class="input-icon right">
                        <i class="fa fa-flag"></i>
                        <input id="RejectTypesId" type="text" placeholder="" class="form-control" data-ng-model="editEditRejectTypes.ID" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    <div class="form-group">
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="editRejectTypesupdate(editEditRejectTypes)">Update</a>
                        <a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="editRejectTypesclose()">Close</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
