
<div class="panel panel-grey">
    <div class="panel-heading">
        Cancel PPRF Request Type
    </div>
    <div class="panel-body pan">
        <div class="text-center" ng-if="!CancelPPRFReasonTypes.length">
            <span class="info">
                No Departments added.
            </span>
        </div>
        <table class="table table-hover table-striped table-bordered" ng-if="CancelPPRFReasonTypes.length">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Description</th>                  
                    <th>Active</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="CancelPPRFReasonType in CancelPPRFReasonTypes">
                    <td>{{$index + 1}}.</td>
                    <td>{{CancelPPRFReasonType.Description}}</td>
                   
                    <td>{{CancelPPRFReasonType.IsEnabled ? "Active" : "De-active"}}</td>
                    <td>
                        <a href="javascript:void(0)" class="btn btn-primary btn-xs" title="Edit Country" ng-click="CancelPPRFReasonTypesDialog(CancelPPRFReasonType)"><i class="fa fa-edit"></i></a> |
                        <a href="javascript:void(0)" class="btn btn-success btn-xs" title="Activate" ng-if="!CancelPPRFReasonType.IsEnabled" ng-click="CancelPPRFReasonTypesEnable(CancelPPRFReasonType)"><i class="fa fa-check"></i></a>
                        <a href="javascript:void(0)" class="btn btn-danger btn-xs" title="Deactivate" ng-if="CancelPPRFReasonType.IsEnabled" ng-click="CancelPPRFReasonTypesDisable(CancelPPRFReasonType)"><i class="fa fa-remove"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

