@{
    ViewBag.Title = "Manage General  Request Type";
}


@section Scripts{
    <script src="~/Scripts/PageScripts/Settings/RejectTypesController.js"></script>
    <script src="~/Scripts/PageScripts/NewRequest/RequestService.js"></script>
    <script src="~/Scripts/PageScripts/Settings/GeneralService.js"></script>
}

<div ng-controller="RejectTypesController" ng-init="initialize()">
    <div class="row mbl">
        <div class="col-lg-12 col-md-12">

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <a class="btn btn-primary btn-sm pull-right" href="javascript:void(0)" ng-click="ClosePPRFReasonTypeDialog()"><i class="fa fa-plus"></i> Add Close PPRF Reason</a>
            @Html.Partial("~/Views/Settings/RequestType/ClosePPRFReasonType.cshtml")
        </div>
        <div class="col-lg-12 col-md-12">
            <a class="btn btn-primary btn-sm pull-right" href="javascript:void(0)" ng-click="CancelPPRFReasonTypeDialog()"><i class="fa fa-plus"></i> Add Cancel PPRF Reason</a>
            @Html.Partial("~/Views/Settings/RequestType/CancelPPRFReasonType.cshtml")
        </div>
        <div class="col-lg-12 col-md-12">
            <a class="btn btn-primary btn-sm pull-right" href="javascript:void(0)" ng-click="RejectReasonTypesDialog()"><i class="fa fa-plus"></i> Add Reject Reason</a>
            @Html.Partial("~/Views/Settings/RequestType/RejectReasonTypes.cshtml")
        </div>
    </div>
</div>

