<div class="panel panel-green">
    <div class="panel-heading">
        Edit Currency
    </div>
    <div class="panel-body pal">
        <div class="form-body pal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Name" class="control-label">Name</label>
                        <div class="input-icon right">
                            <i class="fa fa-code"></i>
                            <input id="Name" type="text" placeholder="" class="form-control" data-ng-model="editCurrency.Name" disabled/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Code" class="control-label">Code</label>
                        <div class="input-icon right">
                            <i class="fa fa-code"></i>
                            <input id="Code" type="text" placeholder="" class="form-control" data-ng-model="editCurrency.Code" disabled/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="USDValue" class="control-label">USD Value</label>
                        <div class="input-icon right">
                            <i class="fa fa-money"></i>
                            <input id="USDValue" type="text" placeholder="" class="form-control" data-ng-model="editCurrency.USDValue" mm-currency mm-precision="6" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="EuroValue" class="control-label">Euro Value</label>
                        <div class="input-icon right">
                            <i class="fa fa-money"></i>
                            <input id="EuroValue" type="text" placeholder="" class="form-control" data-ng-model="editCurrency.EuroValue" mm-currency mm-precision="6" />
                        </div>
                    </div>
                </div>
            </div>

            <div class=" text-right ">
                <button type="submit" class="btn btn-primary" ng-click="update(editCurrency)">
                    Update
                </button>
                <button class="btn btn-default" ng-click="close()">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>