@model WebApp.DAL.Models.ApproveRejectRequestModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Approve", "Pprf", FormMethod.Post))
        { 
            <label>Remarks:</label>
            <br/>
            <textarea name="remarks" id="remarks" style="resize:none;" cols="50" rows="4"></textarea>
            @Html.HiddenFor(m=>m.token)
            @Html.HiddenFor(m=>m.v)

            <br/>
            <input type="submit" value="Submit" />
        }
    </div>
</body>
</html>
