<div class="panel panel-green">
    <div class="panel-heading">

    </div>
    <div class="panel-body pal">
        <div class="form-body pal">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Name" class="control-label">
                            Name
                        </label>
                        <div class="input-icon right">
                            <i class="fa fa-flag"></i>
                            <input id="Name" type="text" placeholder="" class="form-control" data-ng-model="newDepartmentsAccounts.Name" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Code" class="control-label">
                            Code
                        </label>
                        <div class="input-icon right">
                            <i class="fa fa-flag"></i>
                            <input id="Code" type="text" placeholder="" class="form-control" data-ng-model="newDepartmentsAccounts.Code" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Description" class="control-label">
                            Description
                        </label>
                        <div class="input-icon right">
                            <i class="fa fa-flag"></i>
                            <input id="Description" type="text" placeholder="" class="form-control" data-ng-model="newDepartmentsAccounts.Description" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="PayingEntitiesId" class="control-label">
                            PayingEntities
                        </label>
                        <div class="input-icon right">
                            <i class="fa fa-flag"></i>
                            <select name="payingEntity" class="form-control input-sm" data-ng-model="request.PayingEntity"  data-ng-required="true"
                                    data-ng-options="payingEntity as payingEntity.Name for payingEntity in PayingEntities | orderBy:'Name'">
                                <option value="" selected disabled>--- Select ---</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="PayingEntitiesId" class="control-label">
                            DepartmentId
                        </label>
                        <div class="input-icon right">
                            <i class="fa fa-flag"></i>
                            <select name="DepartmentId" class="form-control input-sm" data-ng-model="request.DepartmentId" data-ng-required="true"
                                    data-ng-options="DepartmentId as DepartmentId.Name for DepartmentId in Departments | orderBy:'Name'">
                                <option value="" selected disabled>--- Select ---</option>
                            </select>
                        </div>
                    </div>
                </div>
              
            </div>
         
        </div>

            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    <div class="form-group">
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="create(newDepartmentsAccounts)">Create</a>
                        <a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="close()">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>