<div class="panel panel-green">
    <div class="panel-heading">
       Notes
    </div>
    <div class="panel-body pal">
        <div class="form-body pal">
            <div class="row">              
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Remarks" class="control-label">
                            Notes
                        </label>
                        <div class="input-icon right">                          
                            <input id="Remark" type="text" placeholder="" required="true" class="form-control" data-ng-model="Notes.Remark" />
                        </div>
                    </div>
                </div>              
         </div>
          
            <div class="row">
                <div class="col-md-offset-6 col-md-6">
                    <div class="form-group">
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="Save(Notes)">Save</a>
                        <a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="Cancel()">Cancel</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>