@model WebApp.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
<script src="~/Scripts/PageScripts/Home/ChangePasswordController.js"></script>
}

<div ng-controller="ChangePasswordController">
    <div class="form">
        <form name="passwordChangeForm">
            <div class="form-group">
                <label class="control-label">Old Password</label>
                <input type="password" name="OldPassword" class="form-control input-sm" ng-model="ChangePassword.OldPassword" placeholder="Old Password" 
                       required/>
            </div>

            <div class="form-group">
                <label class="control-label">New Password</label>
                <input type="password" name="NewPassword" class="form-control input-sm" ng-model="ChangePassword.NewPassword" placeholder="New Password"
                       required password-verify="{{ChangePassword.ConfirmPassword}}" ng-minlength="6" />
            </div>

            <div class="form-group">
                <label class="control-label">Confirm Password</label>
                <input type="password" name="ConfirmPassword" class="form-control input-sm" ng-model="ChangePassword.ConfirmPassword" placeholder="Confirm Password"
                       required password-verify="{{ChangePassword.NewPassword}}" />
            </div>

            <button type="submit" ng-click="passwordChangeForm.$valid && changePassword(ChangePassword)" class="btn btn-sm btn-primary" ><i class="fa fa-refresh"></i> Change Password</button>
        </form>
    </div>
</div>